/* common css start */
/* import fonts-- */
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Light.woff') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Medium.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-SemiBold.woff') format('woff');
    font-weight: 600;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Bold.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-ExtraBold.woff') format('woff');
    font-weight: 800;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Black.woff') format('woff');
    font-weight: 900;
}

/* colors */
:root {
    /* color */
    --black: #000000;
    --white: #ffffff;
    --heading-text-color: #000000;
    --paragraph-text-color: #000000;
    --item-bg: #f7f6f9;
    --icon-item-bg: #f6f6f6;
    --text-muted: #898787;
    --brand-color: #000;
    --border-color: #1d1d1c;
    --border-color2: #e3e3e3;
    --btn-color: #fff;
    --btn-bg: #000;

    /* font family */
    --heading-font: "Nunito", serif;
    --paragraph-font: "Nunito", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: var(--paragraph-font);
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: var(--paragraph-font);
    transition: ease .3s;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.2;
    font-family: var(--heading-font);
    color: var(--heading-text-color);
}

p {
    font-size: 16px;
    font-weight: 400;
    color: var(--paragraph-text-color);
    font-family: var(--paragraph-font);
    margin: 0;
    line-height: 22px;
}

.container {
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

button {
    cursor: pointer;
}

button,
input {
    border: none;
    outline: none;
    background-color: transparent;
    appearance: none;
    -moz-appearance: textfield;
    -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

.custom-btn {
    width: 100%;
    background-color: var(--btn-bg);
    color: var(--btn-color);
    text-wrap-mode: nowrap;
    font-size: 14px;
    font-family: var(--paragraph-font);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    padding: 16px 24px;
    line-height: 1;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.custom-btn:hover {
    background-color: transparent;
    border-color: var(--btn-bg);
    color: var(--btn-bg);
}

.swiper-pagination-bullet-active {
    background: var(--brand-color);
}

/* common css start */
.section-heading-wrapper {
    margin: 0 0 60px 0;
    text-align: center;
}

.section-heading {
    color: var(--heading-text-color);
    font-size: 32px;
    font-weight: 700;
    font-family: var(--heading-font);
    text-transform: capitalize;
}

.section-heading-text {
    max-width: 660px;
    margin: 16px auto 0;
    color: var(--paragraph-text-color);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--paragraph-font);
    line-height: 22px;
}

/* common css end */

@media only screen and (max-width:575px) {
    .custom-btn {
        padding: 11px 20px;
    }

    /* common css start */
    .section-heading-wrapper {
        margin: 0 0 30px 0;
    }

    .section-heading {
        font-size: 24px;
    }

    .section-heading-text {
        margin: 10px auto 0;
        font-size: 14px;
        line-height: 18px;
    }

    /* common css end */
}