/* single-product section css start */
.single-product-section {
    padding: 80px 0;
}

.single-product-wrapper {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.single-product-slider-area {
    max-width: 640px;
    width: 100%;
    position: sticky;
    top: 80px;
    height: fit-content;
}

.single-product-slider-inner {
    display: flex;
    gap: 24px;
}

.single-product-slider {
    max-width: 471px;
    height: 100%;
    width: 100%;
    background-color: var(--item-bg);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
}

.single-product-slider .swiper-button-next,
.single-product-slider .swiper-button-prev {
    width: 40px;
    height: 40px;
    background-color: var(--white);
    border: 2px solid var(--brand-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    opacity: 0;
    visibility: hidden;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
}

.single-product-slider:hover .swiper-button-next,
.single-product-slider:hover .swiper-button-prev {
    opacity: 1;
    visibility: visible;
}

.single-product-slider .swiper-button-next.swiper-button-disabled,
.single-product-slider .swiper-button-prev.swiper-button-disabled {
    opacity: 0.35;
}

.single-product-slider .swiper-button-next::after,
.single-product-slider .swiper-button-prev::after {
    font-size: 16px;
    color: var(--brand-color);
    font-weight: 700;
}

.swiper.single-product-slider-thumb {
    margin: 20px 0 0 0;
}

.swiper.single-product-slider-thumb .swiper-slide {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid var(--border-color2);
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
}

.swiper.single-product-slider-thumb .swiper-slide.swiper-slide-thumb-active {
    border-color: var(--brand-color);
}

.slider-icon-area {
    max-width: 145px;
    width: 100%;
}

.product-single-icon-items {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: space-between;
    height: 100%;
}

.product-single-icon-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 36px 16px;
    background-color: var(--icon-item-bg);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.product-single-icon-item .icon {
    display: flex;
}

.product-single-icon-item .icon svg {
    width: 48px;
    height: 48px;
    animation: none;
    transition: transform .3s ease;
    -webkit-animation: none;
}

.product-single-icon-item .icon svg path {
    fill: var(--brand-color);
}

.product-single-icon-item:hover .icon svg {
    animation: bounce .6s ease-in-out infinite;
    -webkit-animation: bounce .6s ease-in-out infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    50% {
        transform: translateY(-12px);
        -webkit-transform: translateY(-12px);
        -moz-transform: translateY(-12px);
        -ms-transform: translateY(-12px);
        -o-transform: translateY(-12px);
    }
}

.product-single-icon-item-text {
    font-size: 20px;
    color: var(--paragraph-text-color);
    line-height: 1;
    font-weight: 600;
    font-family: var(--paragraph-font);
}

.single-product-content-area {
    max-width: 560px;
    width: 100%;
}

.single-product-review {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0 0 16px 0;
}

.single-product-review .icon svg {
    display: flex;
}

.review-text {
    color: var(--paragraph-text-color);
    font-size: 14px;
    font-weight: 500;
    font-family: var(--paragraph-font);
    line-height: 1;
}

.single-product-title {
    color: var(--heading-text-color);
    font-size: 32px;
    font-weight: 700;
    font-family: var(--heading-font);
}

.single-product-sub-title {
    color: var(--heading-text-color);
    font-size: 20px;
    font-weight: 700;
    font-family: var(--heading-font);
    margin: 16px 0 0 0;
}

.single-product-description-list {
    margin: 16px 0 0 0;
}

.single-product-description-list-title {
    color: var(--heading-text-color);
    font-size: 20px;
    font-weight: 400;
    font-family: var(--heading-font);
    margin: 0 0 10px 0;
}

.single-product-description-list ul li {
    margin: 0 0 5px 0;
    position: relative;
    padding: 0px 0 0 26px;
}

.single-product-description-list ul li::after {
    position: absolute;
    content: "";
    top: 3px;
    left: 0;
    background-image: url("../images/checkmark.svg");
    width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.single-product-description-list ul li:last-child {
    margin: 0;
}

.single-product-description-list ul li p {
    color: var(--paragraph-text-color);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--paragraph-font);
    line-height: 22px;
}

/* product bundle varient css start */
.product-varient-wrapper-main {
    margin: 24px 0 0 0;
    padding: 15px;
    background: var(--icon-item-bg);
    border-radius: 10px;
}

.product-varient-wrapper-title-inner {
    margin: 0 0 10px 0;
    position: relative;
    z-index: 1;
    text-align: center;
}

.product-varient-wrapper-title-inner::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    z-index: -1;
    background-color: var(--black);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.product-varient-wrapper-title {
    color: var(--heading-text-color);
    font-size: 18px;
    font-weight: 700;
    font-family: var(--heading-font);
    display: inline-block;
    background-color: var(--icon-item-bg);
    padding: 0 16px;
}

.product-varient {
    position: relative;
    margin: 0 0 16px 0;
}

.product-varient:last-child {
    margin: 0;
}

.product-varient input {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.product-varient-label {
    user-select: none;
    cursor: pointer;
    display: block;
    border: 2px solid var(--border-color2);
    width: 100%;
    background-color: var(--white);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.product-varient-label:hover {
    border-color: var(--brand-color);
}

.product-varient-label .label-content-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 16px;
}

.product-varient-label .checkbox-with-label-title {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 78%;
}

.product-varient-label .check-box {
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border: 2px solid var(--black);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.product-varient-label .check-box .check-box-color {
    width: 14px;
    height: 14px;
    background-color: var(--brand-color);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    display: block;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: all ease .2s;
    -webkit-transition: all ease .2s;
    -moz-transition: all ease .2s;
    -ms-transition: all ease .2s;
    -o-transition: all ease .2s;
}

.product-varient input[type=radio]:checked+label .label-content-top .check-box .check-box-color {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.product-varient input[type=radio]:checked+label {
    border-color: var(--brand-color);
    box-shadow: 0 3px 23px rgb(0 0 0 / 10%);
}

.product-varient-title,
.label-quantity-title {
    color: var(--paragraph-text-color);
    font-size: 16px;
    font-weight: 700;
    font-family: var(--paragraph-font);
    line-height: 1;
}

.product-varient-title-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 75%;
}

.product-varient-title-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

.product-varient-title {
    display: inline-block;
    line-height: 18px;
}

.product-varient-title-badge,
.product-varient-title-text {
    color: var(--paragraph-text-color);
    font-size: 14px;
    font-weight: 400;
    font-family: var(--paragraph-font);
    line-height: 1;
    display: inline-block;
}

.product-varient-title-badge {
    padding: 7px;
    background-color: var(--border-color2);
    border-radius: 5px;
}

.product-varient-label .product-price-wrap {
    display: flex;
    align-items: center;
    gap: 20px;
}

.product-varient-badge {
    padding: 8px;
    background-color: var(--icon-item-bg);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.product-varient-badge p {
    color: var(--paragraph-text-color);
    font-size: 14px;
    font-weight: 700;
    font-family: var(--paragraph-font);
    line-height: 1;
    text-wrap-mode: nowrap;
}

.product-price-wrap-inner {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 8px;
    text-align: right;
}

.product-varient-label .latest-price {
    font-size: 16px;
    font-family: var(--paragraph-font);
    line-height: 1;
    color: var(--black);
    font-weight: 700;
}

.product-varient-label .previous-price {
    color: var(--text-muted);
    font-weight: 400;
    text-decoration: line-through;
    opacity: 0.8;
    font-size: 14px;
    font-family: var(--paragraph-font);
    line-height: 1;
}

.label-content-bottom {
    padding: 16px;
    border-top: 2px solid var(--brand-color);
}

.label-content-title-wrap {
    display: flex;
    gap: 8px;
    margin: 0 0 10px 0;
}

.label-content-title-wrap .icon {
    width: 16px;
    height: 16px;
    display: block;
    margin: 3px 0 0 0;
}

.label-content-title,
.label-content-list li p,
.label-content-text {
    color: var(--paragraph-text-color);
    font-size: 14px;
    font-family: var(--paragraph-font);
    line-height: 22px;
}

.label-content-title {
    font-weight: 600;
}

.label-content-text,
.label-content-list li p {
    font-weight: 400;
}

.label-content-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 5px;
}

.label-content-list li {
    padding: 0 0 0 18px;
    position: relative;
}

.label-content-list li::after {
    position: absolute;
    content: "";
    left: 0;
    top: 5px;
    width: 12px;
    height: 12px;
    background-image: url("../images/checkmark.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.label-content-list li p {
    text-wrap-mode: nowrap;
}

.product-varient-label-quantity-wrap {
    margin: 16px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.label-quantity-wrap {
    display: flex;
    align-items: center;
    background-color: var(--item-bg);
    border-radius: 5px;
}

.label-quantity-wrap .quantity-increase,
.label-quantity-wrap .quantity-decrease,
.label-quantity-wrap .quantity-field {
    width: 40px;
    height: 40px;
    color: var(--paragraph-text-color);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--paragraph-font);
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: unset;
    opacity: 1;
    visibility: visible;
    text-align: center;
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    appearance: none;
    -moz-appearance: textfield;
    -webkit-appearance: none;
}

.label-btn {
    margin: 24px 0 0 0;
    width: 100%;
    background-color: var(--btn-bg);
    color: var(--btn-color);
    font-size: 14px;
    font-family: var(--paragraph-font);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    padding: 16px 24px;
    line-height: 1;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.label-btn:hover {
    background-color: transparent;
    border-color: var(--btn-bg);
    color: var(--btn-bg);
}

/* product bundle varient css end */

.single-product-testimonial-wrapper {
    margin: 24px 0 0 0;
}

.single-product-testimonial {
    background-color: var(--item-bg);
    padding: 16px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.single-product-testimonial-content-text {
    color: var(--paragraph-text-color);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--paragraph-font);
    line-height: 22px;
    font-style: italic;
}

.single-product-testimonial-author-wrapper {
    margin: 16px 0 0 0;
    display: flex;
    align-items: center;
    gap: 16px;
}

.single-product-testimonial-author-img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    overflow: hidden;
}

.single-product-testimonial-author-name,
.single-product-testimonial-author-designation {
    color: var(--paragraph-text-color);
    font-size: 12px;
    font-family: var(--paragraph-font);
    line-height: 18px;
}

.single-product-testimonial-author-name {
    font-weight: 700;
}

.single-product-testimonial-author-designation {
    font-weight: 400;
}

.product-description-accordion {
    margin: 24px 0 0 0;
    padding: 15px;
    background-color: var(--icon-item-bg);
    border-radius: 10px;
}

.product-accordion-item {
    padding: 0 10px 0 10px;
    border-bottom: 1px solid var(--border-color2);
    background-color: var(--white);
    border-radius: 10px;
    margin: 0 0 16px 0;
}

.product-accordion-item:last-child {
    margin: 0;
}

.product-accordion-item .item-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    padding: 15px 0;
}

.product-accordion-item .item-title-wrapper .item-title {
    text-transform: capitalize;
    font-size: 16px;
    color: var(--paragraph-text-color);
    font-family: var(--paragraph-font);
    font-weight: 700;
    user-select: none;
    transition: ease .3s;
    -webkit-transition: ease .3s;
    -moz-transition: ease .3s;
    -ms-transition: ease .3s;
    -o-transition: ease .3s;
}

.product-accordion-item .item-title-wrapper:hover .item-title {
    color: var(--brand-color);
}

.product-accordion-item.active .item-title-wrapper .item-title {
    color: var(--brand-color);
}

.product-accordion-item .item-title-wrapper .icon svg {
    transition: ease .3s;
    -webkit-transition: ease .3s;
    -moz-transition: ease .3s;
    -ms-transition: ease .3s;
    -o-transition: ease .3s;
}

.product-accordion-item.active .item-title-wrapper .icon svg {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    fill: var(--brand-color);
}

.product-accordion-item-content {
    padding: 0 15px 15px 0;
    display: none;
}

.product-accordion-item-content ul {
    margin-left: 18px;
}

.product-accordion-item-content ul li {
    list-style-type: disc;
    margin: 0 0 10px 0;
}

.product-accordion-item-content ul li:last-child {
    margin: 0;
}

.product-accordion-item-content ul li p,
.product-accordion-item-content .content p {
    font-size: 14px;
    color: var(--paragraph-text-color);
    font-weight: 400;
    font-family: var(--paragraph-font);
    line-height: 20px;
}

.product-accordion-item-content .content {
    margin: 10px 0 0 0;
}

/* single-product section css end */

@media only screen and (max-width:1150px) {

    /* single-product section css start */
    .single-product-slider-area {
        max-width: 50%;
    }

    .single-product-slider-inner {
        flex-direction: column;
    }

    .single-product-slider {
        max-width: 100%;
    }

    .slider-icon-area {
        max-width: 100%;
    }

    .product-single-icon-items {
        flex-direction: row;
    }

    .product-single-icon-item {
        padding: 16px 16px;
    }

    .single-product-content-area {
        max-width: 50%;
    }

    /* single-product section css end */
}

@media only screen and (max-width: 992px) {

    /* single-product section css start */
    .single-product-wrapper {
        flex-wrap: wrap;
    }

    .single-product-slider-area {
        max-width: 100%;
        position: unset;
    }

    .single-product-content-area {
        max-width: 100%;
    }

    /* single-product section css end */
}

@media only screen and (max-width: 575px) {

    /* single-product section css start */
    .single-product-section {
        padding: 40px 0;
    }

    .single-product-slider-inner {
        gap: 16px;
    }

    .product-single-icon-items {
        gap: 16px;
    }

    .product-single-icon-item .icon svg {
        width: 30px;
        height: 30px;
    }

    .product-single-icon-item-text {
        font-size: 16px;
    }

    .swiper.single-product-slider-thumb {
        margin: 16px 0 0 0;
    }

    .single-product-review {
        margin: 0 0 10px 0;
    }

    .single-product-review .icon svg {
        width: 80px;
    }

    .review-text {
        font-size: 12px;
    }

    .single-product-title {
        font-size: 24px;
    }

    .single-product-sub-title {
        font-size: 16px;
        margin: 7px 0 0 0;
    }

    .single-product-description-list-title {
        font-size: 16px;
        margin: 0 0 8px 0;
    }

    .single-product-description-list ul li p {
        font-size: 14px;
        line-height: 20px;
    }

    .single-product-description-list ul li::after {
        top: 4px;
        width: 12px;
        height: 12px;
    }

    .single-product-description-list ul li {
        padding: 0px 0 0 18px;
    }

    /* product varient css start */
    .product-varient-wrapper-main {
        margin: 20px 0 0 0;
        padding: 10px;
        border-radius: 7px;
    }

    .product-varient {
        margin: 0 0 10px 0;
    }

    .product-varient-wrapper-title {
        font-size: 16px;
        padding: 0 10px;
    }

    .product-varient-label {
        border: 2px solid var(--border-color2);
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
    }

    .product-varient-label .label-content-top {
        padding: 10px;
    }

    .product-varient-label .checkbox-with-label-title {
        gap: 10px;
    }

    .product-varient-title,
    .label-quantity-title {
        font-size: 15px;
    }

    .product-varient-title-badge,
    .product-varient-title-text {
        font-size: 12px;
    }

    .product-varient-label .product-price-wrap {
        gap: 10px;
    }

    .product-varient-label .latest-price {
        font-size: 14px;
    }

    .product-varient-label .previous-price {
        font-size: 12px;
    }

    .product-varient-title-badge {
        padding: 5px;
        border-radius: 3px;
    }

    .label-content-bottom {
        padding: 10px;
    }

    .label-btn {
        margin: 16px 0 0 0;
        padding: 11px 20px;
    }

    /* product varient css end */

    .single-product-testimonial-wrapper {
        margin: 20px 0 0 0;
    }

    .single-product-testimonial {
        padding: 10px;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
    }

    .single-product-testimonial-content-text {
        font-size: 14px;
        line-height: 20px;
    }

    .single-product-testimonial-author-wrapper {
        margin: 10px 0 0 0;
    }

    .single-product-testimonial-author {
        width: 80%;
    }

    .single-product-testimonial-author-designation {
        line-height: 16px;
    }

    .product-description-accordion {
        margin: 20px 0 0 0;
        padding: 10px;
        border-radius: 7px;
    }

    .product-accordion-item {
        border-radius: 7px;
        margin: 0 0 10px 0;
    }

    .product-accordion-item .item-title-wrapper {
        padding: 12px 0;
    }

    .product-accordion-item .item-title-wrapper .item-title {
        font-size: 15px;
    }

    .product-accordion-item .item-title-wrapper .icon svg {
        width: 10px;
        height: 10px;
    }

    .product-accordion-item-content {
        padding: 0 15px 12px 0;
    }

    .product-varient-label-quantity-wrap {
        margin: 10px 0 0 0;
    }

    .label-quantity-wrap {
        border-radius: 3px;
    }

    .label-quantity-wrap .quantity-increase,
    .label-quantity-wrap .quantity-decrease,
    .label-quantity-wrap .quantity-field {
        width: 35px;
        height: 35px;
    }

    /* single-product section css end */
}