/* timeline section css start */
.timeline-section {
    padding: 80px 0;
}

.timeline-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.timeline-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--icon-item-bg);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.timeline-img img {
    max-width: 300px;
    object-fit: contain;
}

.timeline-items {
    position: relative;
}

.timeline-items::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    top: 0;
    left: 10px;
    background-color: var(--border-color2);
    z-index: 1;
}

.timeline-items::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 50px;
    top: 0;
    left: 10px;
    background-color: var(--border-color);
    z-index: 2;
}

.timeline-item {
    position: relative;
    padding: 0 0 30px 30px;
    opacity: 0.5;
    transition: opacity 0.6s ease-out;
    -webkit-transition: opacity 0.6s ease-out;
    -moz-transition: opacity 0.6s ease-out;
    -ms-transition: opacity 0.6s ease-out;
    -o-transition: opacity 0.6s ease-out;
}

.timeline-item.visible {
    opacity: 1;
}

.timeline-item:last-child {
    padding: 0 0 0 30px;
}

.timeline-item::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 5px;
    width: 10px;
    z-index: 4;
    height: 10px;
    background-color: var(--border-color);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: opacity 0.6s ease-out;
    -webkit-transition: opacity 0.6s ease-out;
    -moz-transition: opacity 0.6s ease-out;
    -ms-transition: opacity 0.6s ease-out;
    -o-transition: opacity 0.6s ease-out;
}

.visible.timeline-item::after {
    opacity: 1;
}

.timeline-item p {
    color: var(--paragraph-text-color);
    font-size: 16px;
    font-weight: 600;
    font-family: var(--paragraph-font);
    line-height: 22px;
}

/* timeline section css end */

@media only screen and (max-width: 767px) {

    /* timeline section css start */
    .timeline-wrapper {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .timeline-items::before {
        display: none;
    }

    .timeline-items::after {
        display: none;
    }

    .timeline-items {
        text-align: center;
    }

    .timeline-item {
        padding: 0 0 30px 0;
    }

    .timeline-item:last-child {
        padding: 0;
    }

    .timeline-item:last-child::after {
        display: none;
    }

    .timeline-item:last-child::before {
       display: none;
    }

    .timeline-item::after {
        top: calc(100% - 25px);
        left: 50%;
        width: 1px;
        height: 20px;
        z-index: 1;
        background-color: var(--border-color2);
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    .timeline-item::before {
        position: absolute;
        content: "";
        top: calc(100% - 25px);
        left: 50%;
        width: 1px;
        height: 10px;
        z-index: 2;
        background-color: var(--border-color);
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    .timeline-item p {
        font-size: 14px;
        line-height: 18px;
    }

    /* timeline section css end */
}

@media only screen and (max-width: 575px) {

    /* timeline section css start */
    .timeline-section {
        padding: 40px 0;
    }

    /* timeline section css end */
}